@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

input {
    @apply bg-transparent focus:outline-none;
}

textarea {
    @apply bg-transparent focus:outline-none;
}

body {
    @apply bg-backg-light dark:bg-backg-dark;
}

* {
    @apply text-font-dark dark:text-font-light transition-colors ease-out duration-300;
}

.section-header {
    @apply text-xl sm:text-2xl font-bold flat-shadow-sm text-start;
}

.section-subheader {
    @apply text-lg sm:text-xl;
}

.btn {
    @apply px-2 py-1 tracking-wider;
}

.btn-primary {
    @apply btn font-bold border border-font-dark dark:border-primary-dark-400 rounded hover:bg-font-dark dark:hover:bg-font-light hover:text-font-light dark:hover:text-font-dark bg-backg-light dark:bg-backg-dark flat-shadow transition ease-out duration-200;
}

.inpt {
    @apply border border-font-dark dark:border-font-light p-1 bg-backg-light dark:bg-backg-dark rounded transition ease-out duration-200;
}

.tbox {
    @apply border border-font-dark dark:border-font-light p-1 bg-backg-light dark:bg-backg-dark rounded transition ease-out duration-200;
}

.standard-grid-width {
    @apply w-72 2xs:w-80 xs:w-96 sm:w-132 md:w-168 lg:w-228 xl:w-300;
    /*2xl:w-360 */
}

.standard-grid-height {
    @apply h-72 2xs:h-80 xs:h-96 sm:h-132 md:h-168 lg:h-228 xl:h-300;
    /*2xl:w-360 */
}

.language {
    @apply px-4 py-1 border-b border-font-dark dark:border-font-light flex flex-col items-center justify-center gap-1 font-bold relative hover:-translate-y-1 transition ease-out duration-200;
}

.bgg {
    background-image: url("~/assets/images/diagonal_line.svg");
    background-size: 1.5rem;
}

:root {
    --shadow-color: #00000022;
}

.dark {
    --shadow-color: #ffffff22;
}

.flat-shadow {
    filter: drop-shadow(0.4rem 0.4rem var(--shadow-color));
}

.flat-shadow-sm {
    filter: drop-shadow(0.2rem 0.2rem var(--shadow-color));
}

/* ## Vue animations ## */

.slide-top-enter-active,
.slide-top-leave-active {
    @apply transition-all ease-out duration-300;
}

.slide-top-enter-from,
.slide-top-leave-to {
    transform: translateY(10px);
    opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
    @apply transition-all ease-out duration-300;
}

.slide-bottom-enter-from,
.slide-bottom-leave-to {
    transform: translateY(-10px);
    opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
    @apply transition-all ease-out duration-300;
}

.slide-right-enter-from,
.slide-right-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
    @apply transition-all ease-out duration-300;
}

.slide-left-enter-from,
.slide-left-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.slide-left-right {
    animation: left-right 1s infinite;
}

@keyframes left-right {
    0% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(-5px);
    }
}

.grecaptcha-badge {
    visibility: hidden;
}